{
  "openapi": "3.1.0",
  "info": {
    "title": "CRM Sales Companion Tools",
    "description": "Read and write a sales rep's CRM by voice. Counts come from the datastore, writes take absolute values only, and creates are idempotent.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://ca-crm-tools-abxqapptakduu.blueocean-50f0c80a.eastus2.azurecontainerapps.io"
    }
  ],
  "paths": {
    "/tools/search_accounts": {
      "post": {
        "tags": [
          "read"
        ],
        "summary": "search accounts",
        "description": "Find an account by the name the rep said. Start here; every other account tool needs the ID this returns. More than one match means ask which one - two customers can differ only by a suffix nobody says.",
        "operationId": "search_accounts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchAccountsParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountResolution"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/tools/get_account": {
      "post": {
        "tags": [
          "read"
        ],
        "summary": "get account",
        "description": "Account detail by ID.",
        "operationId": "get_account",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAccountParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/tools/get_pipeline_summary": {
      "post": {
        "tags": [
          "read"
        ],
        "summary": "get pipeline summary",
        "description": "How many open opportunities, how many past due, and the oldest entry date. Use this for any 'how many' question - never count records aloud.",
        "operationId": "get_pipeline_summary",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAccountParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PipelineSummary"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/tools/list_open_opportunities": {
      "post": {
        "tags": [
          "read"
        ],
        "summary": "list open opportunities",
        "description": "Open opportunities for an account, soonest close date first.",
        "operationId": "list_open_opportunities",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListOpportunitiesParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Opportunity"
                  },
                  "type": "array",
                  "title": "Response List Open Opportunities"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/tools/list_past_due_opportunities": {
      "post": {
        "tags": [
          "read"
        ],
        "summary": "list past due opportunities",
        "description": "Open opportunities whose close date has passed, oldest first. Read these one at a time, waiting for the rep's cue between each.",
        "operationId": "list_past_due_opportunities",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListOpportunitiesParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Opportunity"
                  },
                  "type": "array",
                  "title": "Response List Past Due Opportunities"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/tools/get_opportunity": {
      "post": {
        "tags": [
          "read"
        ],
        "summary": "get opportunity",
        "description": "Opportunity detail by ID, including the current notes.",
        "operationId": "get_opportunity",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetOpportunityParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Opportunity"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/tools/list_contacts": {
      "post": {
        "tags": [
          "read"
        ],
        "summary": "list contacts",
        "description": "Contacts at an account.",
        "operationId": "list_contacts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListContactsParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Contact"
                  },
                  "type": "array",
                  "title": "Response List Contacts"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/tools/get_contact": {
      "post": {
        "tags": [
          "read"
        ],
        "summary": "get contact",
        "description": "Contact detail by ID.",
        "operationId": "get_contact",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetContactParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/tools/list_tasks": {
      "post": {
        "tags": [
          "read"
        ],
        "summary": "list tasks",
        "description": "Open tasks for the running user, soonest due date first.",
        "operationId": "list_tasks",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListTasksParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/TaskRecord"
                  },
                  "type": "array",
                  "title": "Response List Tasks"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/tools/resolve_user": {
      "post": {
        "tags": [
          "read"
        ],
        "summary": "resolve user",
        "description": "Turn a spoken name into a user who can actually be notified. If the result is not exactly one match, ask the rep which person they meant.",
        "operationId": "resolve_user",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResolveUserParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserResolution"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/tools/resolve_stage": {
      "post": {
        "tags": [
          "read"
        ],
        "summary": "resolve stage",
        "description": "Turn spoken stage shorthand into the org's real stage name. More than one match means ask which one - never pick for the rep.",
        "operationId": "resolve_stage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResolveStageParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StageResolution"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/tools/preview_opportunity_update": {
      "post": {
        "tags": [
          "read"
        ],
        "summary": "preview opportunity update",
        "description": "Show exactly what a change would do, without writing. Call this before any opportunity write, read the diff back, and only then write. Note text must be read back word for word. Returns the token the write needs.",
        "operationId": "preview_opportunity_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreviewOpportunityUpdateParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpportunityPreview"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/tools/update_opportunity": {
      "post": {
        "tags": [
          "write"
        ],
        "summary": "update opportunity",
        "description": "Write stage, close date or amount, each as the value it should become. Requires the confirmation_token from preview_opportunity_update and a spoken yes.",
        "operationId": "update_opportunity",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOpportunityParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WriteResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/tools/update_opportunity_notes": {
      "post": {
        "tags": [
          "write"
        ],
        "summary": "update opportunity notes",
        "description": "Write the comments and customer need fields. Requires the confirmation_token from preview_opportunity_update. Read the text back word for word first - it is manufactured from, not summarised.",
        "operationId": "update_opportunity_notes",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOpportunityNotesParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WriteResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/tools/create_task": {
      "post": {
        "tags": [
          "write"
        ],
        "summary": "create task",
        "description": "Create a follow-up task. Saying the same thing twice creates one task.",
        "operationId": "create_task",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTaskParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WriteResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/tools/post_chatter_update": {
      "post": {
        "tags": [
          "write"
        ],
        "summary": "post chatter update",
        "description": "Post to a record's Chatter feed. Mentions must be user IDs from resolve_user, or the person is never notified.",
        "operationId": "post_chatter_update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostChatterUpdateParams"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WriteResult"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Account": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "name": {
            "type": "string",
            "title": "Name"
          },
          "industry": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Industry"
          },
          "phone": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Phone"
          },
          "city": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "City"
          },
          "state": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "State"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "id",
          "name"
        ],
        "title": "Account"
      },
      "AccountResolution": {
        "properties": {
          "query": {
            "type": "string",
            "title": "Query"
          },
          "matches": {
            "items": {
              "$ref": "#/components/schemas/Account"
            },
            "type": "array",
            "title": "Matches",
            "default": []
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "query"
        ],
        "title": "AccountResolution",
        "description": "Search hits for a spoken account name.\n\nTwo customers can share a name, or differ only by a suffix nobody says out\nloud - \"United Oil & Gas Corp.\" against \"United Oil & Gas, UK\". Picking one\nsilently answers about the wrong company and, worse, carries that account ID\ninto every write that follows."
      },
      "Contact": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "account_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Account Id"
          },
          "name": {
            "type": "string",
            "title": "Name"
          },
          "title": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Title"
          },
          "email": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Email"
          },
          "phone": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Phone"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "id",
          "name"
        ],
        "title": "Contact"
      },
      "CreateTaskParams": {
        "properties": {
          "idempotency_key": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 255,
                "minLength": 8
              },
              {
                "type": "null"
              }
            ],
            "title": "Idempotency Key",
            "description": "Optional. Left empty, a key is derived from the request itself, so a command repeated over road noise creates nothing the second time."
          },
          "subject": {
            "type": "string",
            "maxLength": 255,
            "minLength": 1,
            "title": "Subject"
          },
          "due_date": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Due Date"
          },
          "related_to_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Related To Id"
          },
          "description": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 32000
              },
              {
                "type": "null"
              }
            ],
            "title": "Description"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "subject"
        ],
        "title": "CreateTaskParams"
      },
      "FieldChange": {
        "properties": {
          "field": {
            "type": "string",
            "title": "Field"
          },
          "label": {
            "type": "string",
            "title": "Label"
          },
          "before": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Before"
          },
          "after": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "After"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "field",
          "label"
        ],
        "title": "FieldChange"
      },
      "GetAccountParams": {
        "properties": {
          "account_id": {
            "type": "string",
            "title": "Account Id"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "account_id"
        ],
        "title": "GetAccountParams"
      },
      "GetContactParams": {
        "properties": {
          "contact_id": {
            "type": "string",
            "title": "Contact Id"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "contact_id"
        ],
        "title": "GetContactParams"
      },
      "GetOpportunityParams": {
        "properties": {
          "opportunity_id": {
            "type": "string",
            "title": "Opportunity Id"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "opportunity_id"
        ],
        "title": "GetOpportunityParams"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "ListContactsParams": {
        "properties": {
          "account_id": {
            "type": "string",
            "title": "Account Id"
          },
          "limit": {
            "type": "integer",
            "maximum": 50.0,
            "minimum": 1.0,
            "title": "Limit",
            "default": 25
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "account_id"
        ],
        "title": "ListContactsParams"
      },
      "ListOpportunitiesParams": {
        "properties": {
          "account_id": {
            "type": "string",
            "title": "Account Id"
          },
          "limit": {
            "type": "integer",
            "maximum": 50.0,
            "minimum": 1.0,
            "title": "Limit",
            "default": 25
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "account_id"
        ],
        "title": "ListOpportunitiesParams"
      },
      "ListTasksParams": {
        "properties": {
          "limit": {
            "type": "integer",
            "maximum": 50.0,
            "minimum": 1.0,
            "title": "Limit",
            "default": 25
          }
        },
        "additionalProperties": false,
        "type": "object",
        "title": "ListTasksParams"
      },
      "Opportunity": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "account_id": {
            "type": "string",
            "title": "Account Id"
          },
          "name": {
            "type": "string",
            "title": "Name"
          },
          "stage": {
            "type": "string",
            "title": "Stage"
          },
          "close_date": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Close Date"
          },
          "created_date": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Created Date"
          },
          "amount": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$"
              },
              {
                "type": "null"
              }
            ],
            "title": "Amount"
          },
          "is_closed": {
            "type": "boolean",
            "title": "Is Closed",
            "default": false
          },
          "comments": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Comments"
          },
          "customer_need": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Customer Need"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "id",
          "account_id",
          "name",
          "stage"
        ],
        "title": "Opportunity"
      },
      "OpportunityDiff": {
        "properties": {
          "opportunity_id": {
            "type": "string",
            "title": "Opportunity Id"
          },
          "opportunity_name": {
            "type": "string",
            "title": "Opportunity Name"
          },
          "changes": {
            "items": {
              "$ref": "#/components/schemas/FieldChange"
            },
            "type": "array",
            "title": "Changes",
            "default": []
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "opportunity_id",
          "opportunity_name"
        ],
        "title": "OpportunityDiff"
      },
      "OpportunityPreview": {
        "properties": {
          "diff": {
            "$ref": "#/components/schemas/OpportunityDiff"
          },
          "stage": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/StageResolution"
              },
              {
                "type": "null"
              }
            ],
            "description": "Present only when a stage was requested. When it is not unique the stage change is left out of the diff and must be asked aloud."
          },
          "confirmation_tokens": {
            "additionalProperties": {
              "type": "string"
            },
            "type": "object",
            "title": "Confirmation Tokens",
            "description": "Tool name to token. Pass the matching token to that tool to write these exact values; any other values are refused."
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "diff"
        ],
        "title": "OpportunityPreview",
        "description": "What a write would change, computed without writing anything."
      },
      "PipelineSummary": {
        "properties": {
          "account_id": {
            "type": "string",
            "title": "Account Id"
          },
          "account_name": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Account Name"
          },
          "open_count": {
            "type": "integer",
            "minimum": 0.0,
            "title": "Open Count"
          },
          "past_due_count": {
            "type": "integer",
            "minimum": 0.0,
            "title": "Past Due Count"
          },
          "oldest_open_created": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time"
              },
              {
                "type": "null"
              }
            ],
            "title": "Oldest Open Created"
          },
          "total_open_amount": {
            "anyOf": [
              {
                "type": "string",
                "pattern": "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$"
              },
              {
                "type": "null"
              }
            ],
            "title": "Total Open Amount"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "account_id",
          "open_count",
          "past_due_count"
        ],
        "title": "PipelineSummary",
        "description": "Answers 'how many open, how old, how many past due' in one shot.\n\nEvery field here comes from a database aggregate. Nothing in this model is\nderived by counting records in application code or by the model itself."
      },
      "PostChatterUpdateParams": {
        "properties": {
          "idempotency_key": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 255,
                "minLength": 8
              },
              {
                "type": "null"
              }
            ],
            "title": "Idempotency Key",
            "description": "Optional. Left empty, a key is derived from the request itself, so a command repeated over road noise creates nothing the second time."
          },
          "record_id": {
            "type": "string",
            "title": "Record Id"
          },
          "text": {
            "type": "string",
            "maxLength": 10000,
            "minLength": 1,
            "title": "Text"
          },
          "mention_user_ids": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "maxItems": 10,
            "title": "Mention User Ids",
            "description": "User IDs from resolve_user. A name that was never resolved notifies nobody.",
            "default": []
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "record_id",
          "text"
        ],
        "title": "PostChatterUpdateParams"
      },
      "PreviewOpportunityUpdateParams": {
        "properties": {
          "opportunity_id": {
            "type": "string",
            "title": "Opportunity Id"
          },
          "stage": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 100
              },
              {
                "type": "null"
              }
            ],
            "title": "Stage"
          },
          "close_date": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Close Date"
          },
          "amount": {
            "anyOf": [
              {
                "type": "number",
                "minimum": 0.0
              },
              {
                "type": "string",
                "pattern": "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$"
              },
              {
                "type": "null"
              }
            ],
            "title": "Amount"
          },
          "comments": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 32000
              },
              {
                "type": "null"
              }
            ],
            "title": "Comments"
          },
          "customer_need": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 32000
              },
              {
                "type": "null"
              }
            ],
            "title": "Customer Need",
            "description": "Carried verbatim; supply chain manufactures from this text."
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "opportunity_id"
        ],
        "title": "PreviewOpportunityUpdateParams",
        "description": "Absolute values only. Every field is what the value should become."
      },
      "ResolveStageParams": {
        "properties": {
          "spoken": {
            "type": "string",
            "maxLength": 100,
            "minLength": 1,
            "title": "Spoken",
            "description": "Stage as the rep said it, such as 'proposal' or 'negotiation'."
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "spoken"
        ],
        "title": "ResolveStageParams"
      },
      "ResolveUserParams": {
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 200,
            "minLength": 2,
            "title": "Name",
            "description": "Person's name as the rep said it."
          },
          "limit": {
            "type": "integer",
            "maximum": 25.0,
            "minimum": 1.0,
            "title": "Limit",
            "default": 5
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "name"
        ],
        "title": "ResolveUserParams"
      },
      "SearchAccountsParams": {
        "properties": {
          "query": {
            "type": "string",
            "maxLength": 200,
            "minLength": 2,
            "title": "Query",
            "description": "Account name as the rep said it."
          },
          "limit": {
            "type": "integer",
            "maximum": 25.0,
            "minimum": 1.0,
            "title": "Limit",
            "default": 5
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "query"
        ],
        "title": "SearchAccountsParams"
      },
      "StageResolution": {
        "properties": {
          "spoken": {
            "type": "string",
            "title": "Spoken"
          },
          "matches": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Matches",
            "default": []
          },
          "available": {
            "items": {
              "type": "string"
            },
            "type": "array",
            "title": "Available",
            "default": []
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "spoken"
        ],
        "title": "StageResolution",
        "description": "Spoken stage shorthand mapped onto the org's actual picklist values."
      },
      "TaskRecord": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "subject": {
            "type": "string",
            "title": "Subject"
          },
          "due_date": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Due Date"
          },
          "related_to_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Related To Id"
          },
          "status": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Status"
          },
          "priority": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Priority"
          },
          "description": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Description"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "id",
          "subject"
        ],
        "title": "TaskRecord"
      },
      "UpdateOpportunityNotesParams": {
        "properties": {
          "opportunity_id": {
            "type": "string",
            "title": "Opportunity Id"
          },
          "confirmation_token": {
            "type": "string",
            "minLength": 16,
            "title": "Confirmation Token",
            "description": "From preview_opportunity_update, for exactly this text."
          },
          "comments": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 32000
              },
              {
                "type": "null"
              }
            ],
            "title": "Comments"
          },
          "customer_need": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 32000
              },
              {
                "type": "null"
              }
            ],
            "title": "Customer Need",
            "description": "Written verbatim; supply chain manufactures from this text."
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "opportunity_id",
          "confirmation_token"
        ],
        "title": "UpdateOpportunityNotesParams"
      },
      "UpdateOpportunityParams": {
        "properties": {
          "opportunity_id": {
            "type": "string",
            "title": "Opportunity Id"
          },
          "confirmation_token": {
            "type": "string",
            "minLength": 16,
            "title": "Confirmation Token",
            "description": "From preview_opportunity_update, for exactly these values."
          },
          "stage": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 100
              },
              {
                "type": "null"
              }
            ],
            "title": "Stage",
            "description": "Spoken stage is resolved here; anything not unique is refused."
          },
          "close_date": {
            "anyOf": [
              {
                "type": "string",
                "format": "date"
              },
              {
                "type": "null"
              }
            ],
            "title": "Close Date"
          },
          "amount": {
            "anyOf": [
              {
                "type": "number",
                "minimum": 0.0
              },
              {
                "type": "string",
                "pattern": "^(?!^[-+.]*$)[+-]?0*\\d*\\.?\\d*$"
              },
              {
                "type": "null"
              }
            ],
            "title": "Amount"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "opportunity_id",
          "confirmation_token"
        ],
        "title": "UpdateOpportunityParams",
        "description": "Absolute values only. There is deliberately no way to adjust a value by an amount."
      },
      "UserRef": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id"
          },
          "name": {
            "type": "string",
            "title": "Name"
          },
          "is_active": {
            "type": "boolean",
            "title": "Is Active",
            "default": true
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "id",
          "name"
        ],
        "title": "UserRef"
      },
      "UserResolution": {
        "properties": {
          "query": {
            "type": "string",
            "title": "Query"
          },
          "matches": {
            "items": {
              "$ref": "#/components/schemas/UserRef"
            },
            "type": "array",
            "title": "Matches",
            "default": []
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "query"
        ],
        "title": "UserResolution",
        "description": "Result of turning a spoken name into a mention target.\n\nA Chatter mention needs a real user ID; text that merely looks like a mention\nnotifies nobody. Ambiguity is returned rather than resolved so the agent can ask."
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          },
          "input": {
            "title": "Input"
          },
          "ctx": {
            "type": "object",
            "title": "Context"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      },
      "WriteOutcome": {
        "type": "string",
        "enum": [
          "created",
          "updated",
          "replayed"
        ],
        "title": "WriteOutcome"
      },
      "WriteResult": {
        "properties": {
          "outcome": {
            "$ref": "#/components/schemas/WriteOutcome"
          },
          "record_id": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Record Id"
          },
          "detail": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Detail"
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "outcome"
        ],
        "title": "WriteResult",
        "description": "Outcome of a mutation.\n\n``REPLAYED`` means the idempotency key had already been used, so nothing new\nwas written. The agent says something different in that case rather than\nsilently reporting success twice."
      }
    },
    "securitySchemes": {
      "APIKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  }
}
